NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce_gateway

CLIENT_URL=http://localhost:5173

DNS_SERVERS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_URL=https://rc.esewa.com.np/api/epay/transaction/status/
ESEWA_SUCCESS_URL=http://localhost:5000/api/v1/payments/esewa/callback
ESEWA_FAILURE_URL=http://localhost:5173/payment/failure